body {
    background-color: #2D2D2D;
}

.header .big_button {
    background-color: unset;
}

.header .line {
    background-color: #4e4e4e;
}

.header {
    border-bottom: 1px solid #4e4e4e;
}

.ide_window {
    background-color: #1E1E1E;
}

    .ide_window .tab {
        border: 2px solid #1E1E1E;
        background-color: #1E1E1E;
    }

.ide_window_tabs .tab_active {
    background-color: #1E1E1E;
    border: 2px solid #1E1E1E;
}

.assets_options_window div {
    background-color: #4F6272;
}

.assets_type_container .btn .action_window div {
    background-color: #3E3E40;
}

.assets_type_container .btn:hover {
    background-color: #353535;
}

.assets_type_container .btn_active {
    background-color: #353535;
}

.assets_type_container .btn_fill_active {
    background-color: #353535;
}

.assets_window .line {
    background-color: #404040;
}

.popup_window {
    background-color: #364958;
}

.popup_window_top {
    background-color: #4F6272;
}

.popup_window_buttons_content div {
    background-color: #4F6272;
}

.fillEditor {
    background-color: #1B2432;
}

.template_inner p {
    color: #e5e5e5;
}

.template_inner .container {
    background-color: #2b3745;
}

.template_inner .med_button {
    background-color: #1b2432;
    border: 1px solid #111721;
}

.template_inner .big_button {
    background-color: #1b2432;
    border: 1px solid #111721;
}

.red_btn {
    color: #ff9999;
}

.green_btn {
    color: #94fcae;
}

.control_item .help {
    color: #e2e2e2;
}

.watch_control_window .big_button {
    background-color: #353535;
}

.completion_window {
    background-color: #2B3745;
}

.completion_window .c_item_select {
    background-color: #4286f4;
}

body::-webkit-scrollbar {
    background-color: #2D2D2D;
}

body::-webkit-scrollbar-track {
    background-color: #2D2D2D;
}

body::-webkit-scrollbar-thumb {
    background-color: #3E3E40;
}