/* Custom scrollbars */

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    background-color: #121420;
    margin: 0;
    padding: 0;
    min-width: 900px;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.header {
    height: 40px;
    padding: 20px;
    color: white;
}

.header .title {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    display: inline-block;
    float: left;
}

.header .big_button {
    height: 24px;
    line-height: 24px;
    padding: 8px;
    background-color: #1b2432;
    border-radius: 5px;
    float: right;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.header .big_button img {
    width: 24px;
    height: 24px;
}

.header .line {
    height: 100%;
    background-color: #1b2432;
    width: 2px;
    border-radius: 2px;
    display: inline-block;
    float: right;
    margin-left: 8px;
}

.ide_window {
    position: fixed;
    /*top: 135px;
    bottom: 15px;
    right: 15px;
    left: 315px;
    
    -webkit-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.46);
    box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.46);*/
    background-color: #1B2432;
    top:80px;
    bottom:0;
    right:0;
    left:315px;
}

.ide_window_tabs {
    top: 95px;
    right: 25px;
    left: 325px;
    height: 40px;
    position: fixed;
    display:none;
}

.ide_window_tabs .tab {
    display: inline-block;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    padding-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 2px solid #1B2432;
    background-color: #1B2432;
    margin-left: 4px;
}

.ide_window_tabs .tab_active {
    background-color: #2e3b4e;
    border: 2px solid #2e3b4e;
}

.tab img {
    height: 16px;
    margin-left: 5px;
    vertical-align: top;
    border-radius: 50%;
}

.assets_window {
    top: 135px;
    top: 95px;
    bottom: 15px;
    left: 15px;
    width: 285px;
    position: fixed;
    width:300px;
}

.assets_options_window {
    top: 95px;
    height: 30px;
    left: 15px;
    width: 285px;
    position: fixed;
}

.assets_options_window div {
    height: 24px;
    line-height: 24px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #4F6272;
    border-radius: 5px;
    display: inline-block;
}

.assets_options_window span {
    padding: 10px;
    font-size: 18px;
}

.assets_type_container {
    margin-bottom: 3px;
    margin-top: 8px;
}

.assets_type_container div {
    height:46px;
}

.assets_type_container .btn {
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    height:20px;
    position:relative;
}

.assets_type_container .btn .action_window {
    /* Actions that appear when this is selected. */
    position:absolute;
    right:5px;
    top:5px;
    height:30px;
    width:30px;

    /* This is shown below. */
    display:none;
}

.assets_type_container .btn .action_window div {
    /* Action */
    height:20px;
    padding:5px;
    border-radius:3px;
    background-color:#4F6272;
}

.assets_type_container .btn .action_window div img {
    height:20px;
    width:20px;
}

.assets_type_container .btn:hover {
    background-color: #1B2432;
}

.assets_type_container .btn_active {
    background-color: #1B2432;
}

.assets_type_container .btn_fill_active {
    background-color: #1B2432;
    display:block;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

.assets_type_container .btn_fill_active .action_window {
    display:block;
}

.assets_window .line {
    margin-right:15px;
    height: 2px;
    background-color: #1B2432;
    border-radius: 1px;
}

.ace_print-margin {
    display: none;
}

.popup_background {
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
}

.popup_window_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    transition: all 120ms;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.popup_window {
    width: calc(100% - 20px);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 600px;
    background-color: #364958;
    border-radius: 10px;
    overflow: hidden;
    transition: all 120ms;
    margin-top:0;
}

.popup_window_hide {
    opacity: 0;
    margin-top:15px;
}

.popup_window_top {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: #4F6272;
    padding-bottom: 15px;
    padding-top: 15px;
}

.popup_window_content {
    padding: 10px;
    font-size: 15px;
    padding-top: 20px;
}

.popup_window_buttons {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
}

.popup_window_buttons_content {
    margin: auto;
}

.popup_window_buttons_content div {
    height: 24px;
    line-height: 24px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #4F6272;
    border-radius: 5px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.fillEditor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1B2432;
    z-index: 900;
    width: 100%;
    color: white;
    resize: none;
    overflow:auto;
}

#editor_inner {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.formItem {
    padding:8px;
    width:160px;
    height:15px;
    margin-top:1px;
    margin-bottom:1px;
    text-align:left;
    margin-left:10px;
    border:none;
}

.formTitle {
    padding:8px;
    font-size:15px;
    height:15px;
    margin-top:1px;
    margin-bottom:1px;
    text-align:right;
    margin-right:10px;
}

.formCol {
    display: inline-block;
    width: calc(50% - 16px);
    text-align:left;
}

.selectFix {
    background-color:white;
    display:inline-block;
    padding-top:5px;
    padding-bottom:5px;
    height:21px;
}

.selectFix select {
    width:100%;
    border:none;
}

.template_inner {
    padding:15px;
}

.template_inner h1 {
    color:white;
    font-size:26px;
    margin-top:0;
}

.template_inner h2 {
    color:white;
    font-size:23px;
    margin:0;
}

.template_inner h3 {
    color:white;
    font-size:20px;
    margin:0;
}

.template_inner p {
    color:#e5e5e5;
    font-size:17px;
}

.template_inner .container {
    background-color:#2b3745;
    padding:12px;
    color:white;
    border-radius:5px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 4px 24px 0px rgba(0,0,0,0.26);
    max-width:700px;
    margin-bottom:5px;
    transition:filter 200ms;
}

.template_inner .med_button {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1b2432;
    border-radius: 5px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid #111721;
}

.template_inner .big_button {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1b2432;
    border-radius: 5px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid #111721;
}

.blur {
    filter:blur(4px);
}

.red_btn {
    color:#ff9999;
}

.green_btn {
    color: #94fcae;
}

/* Thanks to https://codepen.io/brunjo/pen/azdWjY */

.inf_loader {
    width: 100%;
    height: 20px;
    border: 1px solid #111721;
    border-radius: 3px;
    background-image: repeating-linear-gradient( -45deg, #B76D68, #B76D68 11px, #EBD7D5 10px, #EBD7D5 20px /* determines size */
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 28px 0;
    }
}

/* Below is for forms in the ide view. */
.control_item {
    min-height:40px;
    margin-bottom:20px;
}

.container_control:last-child .control_item {
    margin-bottom:0;
}

.control_item .label {
    width:150px;
    text-align:right;
    line-height:40px;
    font-size:18px;
    color:white;
    display:inline-block;
}

.control_item .help {
    width:calc(100% - 180px);
    color:black;
    margin-left:170px;
    padding:5px;
    font-size:14px;
    color:#e2e2e2;
}

.control_item .control {
    background-color:white;
    width:calc(100% - 170px);
    border-radius:5px;
    color:black;
    float: right;
    height: 40px;
    overflow:hidden;
}

.control_item .control input[type=text] {
    padding-top:11px;
    padding-bottom:11px;
    font-size:15px;
    padding-left:15px;
    padding-right:15px;
    width: calc(100% - 30px);
    border:none;
}